<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="top">
          <div class="top-logo">
            <a href="#">
              <img src="img/logo.png" alt="">
            </a>
          </div>
          <div class="top-phone">
            +7 (343) 353 00 82
            +7 965 506 53 74
          </div>
          <div class="clear"></div>
        </div>
        <div class="top-info">
          <p>г.Екатеринбург, Мельковская 12а оф 701</p>
        </div>
        <ul class="top-menu">
          <li><a href="#">О компании</a></li>
          <li class="vertical-separator"></li>
          <li><a href="#">Горящие туры</a></li>
          <li class="vertical-separator"></li>
          <li><a href="#">Направления</a></li>
          <li class="vertical-separator"></li>
          <li><a href="#">Контакты</a></li>
          <li class="vertical-separator"></li>
          <li><a href="#">Контакты</a></li>
          <li class="vertical-separator"></li>
          <li><a href="#">Контакты</a></li>
        </ul>
        <div class="clear"></div>
      </header>
      <section>
        <div class="content-block">
          <ul class="breadcrumbs">
            <li><a href="#">Главная страница</a></li>
            <li>/</li>
            <li><a href="#">Туры</a></li>
            <li>/</li>
            <li><span>Горящие туры</span></li>
          </ul>
          <a href="#" class="return-button">Назад</a>
          <div class="tour-list">
            <div class="tour-list-item">
              <div class="tour-list-item-image">
                <a href="">
                  <img src="img/tour.png" alt="">
                </a>
              </div>
              <div class="tour-list-item-info">
                <div class="tour-list-item-title">
                  Шотландия, Уэльс на 2х.
                </div>
                <ul class="tour-list-item-data">
                  <li>Дней: <span>12</span></li>
                  <li class="vertical-separator"></li>
                  <li>Кол.чел: <span>2</span></li>
                  <li class="vertical-separator"></li>
                  <li>Отель: <span>SaksonHotel (5*)</span></li>
                  <div class="clear"></div>
                </ul>
                <div class="tour-list-item-description">
                  Организаций с целью продвижения их деловых интересов, расширения потоков инвестиций в региональную экономику
                  и увеличения экспорта продукции региональных промышленников. Группа компаний Брэйв активизирует работу по установлению.
                </div>
                <div class="tour-list-info-control">
                  <a href="#" class="send-order">Отправить заявку</a>
                  <div class="tour-list-info-price">24 456.00 <span>руб.</span></div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="tour-list-item">
              <div class="tour-list-item-image">
                <a href="">
                  <img src="img/tour.png" alt="">
                </a>
              </div>
              <div class="tour-list-item-info">
                <div class="tour-list-item-title">
                  Шотландия, Уэльс на 2х.
                </div>
                <ul class="tour-list-item-data">
                  <li>Дней: <span>12</span></li>
                  <li class="vertical-separator"></li>
                  <li>Кол.чел: <span>2</span></li>
                  <li class="vertical-separator"></li>
                  <li>Отель: <span>SaksonHotel (5*)</span></li>
                  <div class="clear"></div>
                </ul>
                <div class="tour-list-item-description">
                  Организаций с целью продвижения их деловых интересов, расширения потоков инвестиций в региональную экономику
                  и увеличения экспорта продукции региональных промышленников. Группа компаний Брэйв активизирует работу по установлению.
                </div>
                <div class="tour-list-info-control">
                  <a href="#" class="send-order">Отправить заявку</a>
                  <div class="tour-list-info-price">24 456.00 <span>руб.</span></div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="tour-list-item">
              <div class="tour-list-item-image">
                <a href="">
                  <img src="img/tour.png" alt="">
                </a>
              </div>
              <div class="tour-list-item-info">
                <div class="tour-list-item-title">
                  Шотландия, Уэльс на 2х.
                </div>
                <ul class="tour-list-item-data">
                  <li>Дней: <span>12</span></li>
                  <li class="vertical-separator"></li>
                  <li>Кол.чел: <span>2</span></li>
                  <li class="vertical-separator"></li>
                  <li>Отель: <span>SaksonHotel (5*)</span></li>
                  <div class="clear"></div>
                </ul>
                <div class="tour-list-item-description">
                  Организаций с целью продвижения их деловых интересов, расширения потоков инвестиций в региональную экономику
                  и увеличения экспорта продукции региональных промышленников. Группа компаний Брэйв активизирует работу по установлению.
                </div>
                <div class="tour-list-info-control">
                  <a href="#" class="send-order">Отправить заявку</a>
                  <div class="tour-list-info-price">24 456.00 <span>руб.</span></div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="left-content">
            <h3>Спец предложения</h3>
            <ul class="special-offers">
              <li>
                <div class="special-image">
                  <a href="#">
                    <img src="img/special.png" alt="" width="288px">
                  </a>
                </div>
                <div class="special-title">
                  <a href="#">Горящий тур в Тайланд (24.04)</a>
                </div>
                <div class="special-description">
                  <p>На двоих, 25 000 руб.</p>
                </div>
              </li>
              <li>
                <div class="special-image">
                  <a href="#">
                    <img src="img/special.png" alt="" width="288px">
                  </a>
                </div>
                <div class="special-title">
                  <a href="#">Горящий тур в Тайланд (24.04)</a>
                </div>
                <div class="special-description">
                  <p>На двоих, 25 000 руб.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="right-content">
            <h3>Все предложения</h3>
            <ul class="country-list">
              <li><a href="#">Турция</a></li>
              <li><a href="#">Италия</a></li>
              <li><a href="#">Тайланд</a></li>
              <li><a href="#">Австралия</a></li>
              <li><a href="#">Нидерланды</a></li>
              <li><a href="#">Норвегия</a></li>
              <li><a href="#">Австралия</a></li>
              <li><a href="#">Нидерланды</a></li>
              <li><a href="#">Норвегия</a></li>
              <li><a href="#">Норвегия</a></li>
            </ul>
                  <ul class="country-list">
              <li><a href="#">Турция</a></li>
              <li><a href="#">Италия</a></li>
              <li><a href="#">Тайланд</a></li>
              <li><a href="#">Австралия</a></li>
              <li><a href="#">Нидерланды</a></li>
              <li><a href="#">Норвегия</a></li>
              <li><a href="#">Австралия</a></li>
              <li><a href="#">Нидерланды</a></li>
              <li><a href="#">Норвегия</a></li>
              <li><a href="#">Норвегия</a></li>
            </ul>
            <ul class="country-list">
              <li><a href="#">Турция</a></li>
              <li><a href="#">Италия</a></li>
              <li><a href="#">Тайланд</a></li>
              <li><a href="#">Австралия</a></li>
              <li><a href="#">Нидерланды</a></li>
              <li><a href="#">Норвегия</a></li>
              <li><a href="#">Австралия</a></li>
              <li><a href="#">Нидерланды</a></li>
              <li><a href="#">Норвегия</a></li>
              <li><a href="#">Норвегия</a></li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>

        </div>
      </section>
      <footer>
        <div class="footer-partners">
          <h3>Партнеры</h3>
          <div class="footer-partners">
            <div class="left-arrow">
              <a href="#"><img src="img/left.png" alt=""></a>
            </div>
            <ul class="partner-list">
              <li><a href="#"><img src="img/tui.png" alt=""></a></li>
              <li><a href="#"><img src="img/dbsw.png" alt=""></a></li>
              <li><a href="#"><img src="img/bsi.png" alt=""></a></li>
              <li><a href="#"><img src="img/coral.png" alt=""></a></li>
              <li><a href="#"><img src="img/danko.png" alt=""></a></li>
              <li><a href="#"><img src="img/pac.png" alt=""></a></li>
              <li><a href="#"><img src="img/anex.png" alt=""></a></li>
            </ul>
            <div class="right-arrow">
              <a href="#"><img src="img/right.png" alt=""></a>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="footer-info">
          <p>
            Туристическое агенство "Chrismary"
            г.Екатеринбург, Мельковская 12а оф.701
          </p>
        </div>
        <div class="footer-phone">
          +7 (343) 353 00 82
          +7 965 506 53 74
        </div>
      </footer>
    </div>
  </body
</html>
