{% load fb_versions %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% if request.page.title %}{{ request.page.title }} | {% endif  %}{{ request.TITLE }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width">
    {% block meta %}{{ request.page.meta|default:""|safe }}{% endblock %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/flexslider.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.inputmask.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
  </head>
  <body style="background: #fff url('{{ request.background_image }}'); background-size: 100%; background-attachment: fixed;">
    {% csrf_token %}
    {% include "website/include/popup.html" %}
    <div class="wrapper">
      <header>
        <div class="top">
          <div class="top-left">
            <a href="/" class="logo">
              <img src="{{ STATIC_URL }}img/logo_top.png" alt="">
            </a>
          </div>
          <div class="top-middle">
            <div class="top-slider">
              {% if request.tour_slider %}
              <div class="top-slider-list flexslider">
                <ul class="slides">
                  {% for item in request.tour_slider %}
                    <li class="top-slider-item" data-direction="{{ item.direction }}" data-price="{{ item.price }}" data-nights="{{ item.nights }}" data-start="{{ item.start_date|date:"d.m" }}" data-count="{{ item.adult_amount }}" data-href="{{ item.get_absolute_url }}">
                      <img src="{% version item.image "slider" %}" alt="{{ item.title }}" title="{{ item.title }}" />
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="top-slider-panel">
                <div class="top-slider-title"></div>
                <div class="top-slider-info"></div>
                <a href="#" class="top-slider-left"></a>
                <a href="#" class="top-slider-right"></a>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="top-right">
            <p class="top-right-text">Телефон</p>
            <div class="phone">
              {{ request.infoblock.top_phone|default:""|safe }}
            </div>
            <p class="top-right-text">
              {{ request.infoblock.top_address|default:""|safe }}
            </p>
            <p class="top-right-text" style="margin-top: 3px;">
              <a class="callback" href="{% url "callback" %}">Перезвоните мне</a>
            </p>
          </div>
          <div class="clear"></div>
        </div>
        <ul class="top-menu">
          <li><a href="/">Главная</a></li>
          {% if request.top_menu %}<li class="vertical-separator"></li>{% endif %}
          {% for item in request.top_menu %}
            <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
            <li class="vertical-separator"></li>
          {% endfor %}
        </ul>
        <div class="clear"></div>
      </header>
      <section>
        <div class="content-block">
          {% block top_content %}
            {% include "website/include/breadcrumbs.html" %}
            <h1>{% firstof request.page.name request.page.title %}</h1>
            {{ request.page.content|default:""|safe }}
          {% endblock %}
        </div>
          {% block bottom_content %}
            {% include "website/include/bottom_content.html" %}
          {% endblock %}
      </section>
      <footer>
          <div class="footer-info">
            <p>{{ request.infoblock.bottom_address }}</p>
          </div>
          <div class="footer-phone">
            {{ request.infoblock.bottom_phone }}
          </div>
          <div class="clear"></div>
      </footer>
    </div>
    {{ request.infoblock.online_consultant|safe }}
  </body
</html>
