{% load fb_versions %}
<div class="content-block">
  <h3>Все направления</h3>
  {% include "website/include/direction_list.html" with direction_list=direction_list %}
  <div class="clear"></div>

  <h3>Партнеры</h3>
  <div class="footer-partners">
    <div class="left-arrow">
      <a href="#"><img src="{{ STATIC_URL }}img/left.png" /></a>
    </div>
    <ul class="partner-list">
      {% for item in request.partner_list %}
        <li>
          {% if item.href %}<a target="_blank" href="{{ item.href }}">{% endif %}
          <img src="{% version item.image 'partner_list' %}" title="{{ item.title }}" alt="{{ item.title }}">
          {% if item.href %}</a>{% endif %}
        </li>
      {% endfor %}
    </ul>
    <div class="right-arrow">
      <a href="#"><img src="{{ STATIC_URL }}img/right.png" /></a>
    </div>
    <div class="clear"></div>
  </div>
</div>