{% if object_list and object_list.paginator.num_pages != 1 %}
<div class="paginator">
  {% if object_list.has_previous %}
    <div class="first"><a href="?page={{ object_list.previous_page_number }}{{ query }}">&lt; Предыдущая</a></div>
  {% endif  %}
  <div class="center">
    <ul>
      {% for page in object_list.paginator.page_range|slice:object_list.paginator.slice %}
        <li {% if page == object_list.number %}class="active"{% endif %} >
          <a href="?page={{ page }}{{ query }}">{{ page }}</a>
        </li>
      {% endfor%}
      <div class="clear"></div>
    </ul>
  </div>
  {% if object_list.has_next %}
    <div class="last"><a href="?page={{ object_list.next_page_number }}{{ query }}">Следущая &gt; </a></div>
  {% endif %}
  <div class="clear"></div>
</div>
{% endif %}